.logo {
    font-size: 18px;
}

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.inline-container {
    /* Padding-inline */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 42px;
}

nav {
    display: flex;
    align-items: center; 
    gap: 18px; 
}

.--link{
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.--butto, .--button-white{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    border: 1px solid #e4e4e4ee;
    border-radius: 6px;
    color: #000;
}

.--button-white{
    width: fit-content;
    padding-block: 12px;
    padding-inline: 32px;
}
.--title{
    font-size:  60px;
    color: white;
}

.--desc{
    font-size: 20px;
    color: white;
}

/*Modificadore */
.--gap-10{
    gap:10px;
}

.--no-beetwen{
    justify-content: initial;
}

.--no-padding-inline{
    padding-inline: initial;
}

/* HERO */
.hero{
    display: flex;
    background-color: #3462e3;
}

.frist-container{
    width: 660px;
}